{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-profile" href="#">Profile</a>
        <a class="navbar-signout" href="#">Sign Out</a>
    </nav>

    <div class="accordion" id="searchAccordion">
        {% for establishment in establishments %}
            <div class="card" data-toggle data-parent="#searchAccordion" data-target="#{{ establishment.id }}" aria-expanded="false" aria-controls="{{ establishment.id }}">
                <div class="card-header" id="{{ establishment.name }}" data-toggle="collapse" data-target="#{{ establishment.id }}">
                    <div class="card-columns">
                            <div class="row">
                                <div class="col-auto">
                                    <img src="{{ establishment.img }}" alt="" class="riderHomeImg">
                                </div>
                                <div class="col-auto cardMiddle">
                                    {{ establishment.name }}<br>
                                    {{ establishment.rating }}<br>
                                    {{ establishment.info }}
                                </div>
                                <div class="col-auto cardRight">
                                    {{ establishment.rideTime }}<br>
                                    {{ establishment.minTab }}
                                </div>
                            </div>
                    </div>
                </div>

                <div id="{{ establishment.id }}" class="collapse" aria-labelledby="{{ establishment.name }}"
                     data-parent="#searchAccordion">
                    <div class="card card-body" aria-labelledby="{{ establishment.name }}">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control tabInput" id="tab">
                                <button type="submit" class="btn btn-primary float-right tabSubmit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
