{%  load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Ubeer</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'custom/home.css' %}">
</head>
<body class="login">
    <div class="container">
        <div class="row">
            <img class="mx-auto loginLogo" src="https://source.unsplash.com/random/300x300" alt="">
        </div>

        <div class="row">
            <div class="col loginName">
                Ubeer
            </div>
        </div>

        <div class="mx-auto loginFields">
            <form method = "post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <label for="loginUser">Username</label>
                    <input type="text" class="form-control" id="loginUser" name="username">
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" class="form-control" id="loginPassword" name="password">
                </div>
                <div class="row loginButton">
                    <div class="col">
                    <button type="submit" class="btn btn-primary btn-lg loginButton">Log in</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row loginLink">
            <div class="col">Link to <a href="./signup">Signup</a></div>
        </div>
    </div>

<script src="{%  static 'bootstrap/bootstrap.js' %}"></script>

</body></html>