{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom/home.css' %}">
</head>
<body>
    Signup
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <label for="loginUser">Username</label>
            <input type="text" class="form-control" id="loginUser" name="username">
        </div>
        <div class="form-group">
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control" id="loginPassword" name="password">
        </div>
        <div class="form-group">
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control" id="loginPassword" name="confirmPassword">
        </div>
        <div class="form-group">
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control" id="loginPassword" name="email">
        </div>
        <div class="row loginButton">
            <div class="col">
                <button type="submit" class="btn btn-primary btn-lg loginButton">Log in</button>
            </div>
        </div>
    </form>>
    <script src="{% static 'bootstrap/bootstrap.js' %}"></script>
</body>
</html>