{% extends 'base.html' %}
{% load static %}

{% block content %}
    Signup
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="loginUser">Username</label>
            <input type="text" class="form-control" id="loginUser" name="username">
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName">
        </div>
        <div class="form-group">
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control" id="loginPassword" name="password">
        </div>
        <div class="form-group">
            <label for="loginPasswordConfirm">Confirm Password</label>
            <input type="password" class="form-control" id="loginPasswordConfirm" name="confirmPassword">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="row loginButton">
            <div class="col">
                <button type="submit" class="btn btn-primary btn-lg loginButton">Create User</button>
            </div>
        </div>
    </form>
{% endblock %}